.nepdatemain {
  position: absolute;
  max-width: max-content;
  /* margin: 3em auto 0 auto; */
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
}
.monthIndicator {
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: bold;
}
.dayofweek,
.dategrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.dayofweek {
  margin-top: 1.25em;
}
.dayofweekchild {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}
.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstday1 {
  grid-column: 1 !important;
}
.firstday2 {
  grid-column: 2 !important;
}
.firstday3 {
  grid-column: 3 !important;
}
.firstday4 {
  grid-column: 4 !important;
}
.firstday5 {
  grid-column: 5 !important;
}
.firstday6 {
  grid-column: 6 !important;
}
.firstday7 {
  grid-column: 7 !important;
}

.currentday {
  /* display: inline-block; */
  border-bottom: 2px solid gray;
  padding-bottom: 3px;
}
.dategridbutton {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
  cursor: pointer;
}
.dategrid button:hover,
.dategrid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}
.dategrid button:active,
.dategrid button.is-selected {
  background-color: var(--teal-200);
  color: var(--teal-900);
}
.routeButton {
  text-decoration: none;
  cursor: pointer;
}
.dateinput {
  cursor: pointer;
}
.dateContainer {
  margin: 5px;
}
.selected {
  background-color: var(--teal-200);
  color: var(--teal-900);
}
.hide {
  display: none;
}

.container {
  /* float: left; */
  display: block;
}

.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.slider img {
  width: 100%;
}

.content {
  border: 2px solid red;
}
.zIndex {
  z-index: 999999999999 !important;
}
.disabled {
  color: #cccccc;
  pointer-events: none;
}
